<section id="cover" class="wow slideInLeft" data-wow-duration="1s">

</section>
<section id="carousel" class="wow slideInRight" data-wow-duration="1s">
    <carousel>
        <slide>
            <img src="../../assets/images/projekti/AS plan - Poslovno skladisni objekat/AS_Photo - 1.jpg" alt="AS_photo" style="display: block; width: 100%;max-height:800px">
        </slide>
        <slide>
            <img src="../../assets/images/projekti/Cosic - Stambena zgrada BP/00104.jpg" alt="Stambena zgrada" style="display: block; width: 100%;max-height:800px">
        </slide>
        <slide>
            <img src="../../assets/images/projekti/Dr Vasiljevic - Uredjenje dvorista i objekat/Vasiljevic 06.jpg" alt="Vasiljevic" style="display: block; width: 100%;max-height:800px">
        </slide>
        <slide>
            <img src="../../assets/images/projekti/Erceg - Kuca/Erceg Fasada V1-006.jpg" alt="Fasada" style="display: block; width: 100%;max-height:800px">
        </slide>
        <slide>
            <img src="../../assets/images/projekti/Jevtic - Enterijer/Stan 01.jpg" alt="uredjenje dvorista" style="display: block; width: 100%;max-height:800px">
        </slide>
    </carousel>
</section>

<section id="whatwedo" class="wow bounceInUp" data-wow-duration="1s">
    <div class="section-content">
        <div class="container">

            <h2 class="text-center">Cime se bavim</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Modelovanje</h4>
                                <img src="../../assets/images/modelovanje.jpg" alt="a chalkboard" class="card-img-top mr-auto">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum excepturi voluptas, quaerat
                                        quis dicta iusto. Culpa, quibusdam!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Dizajn</h4>
                                <img src="../../assets/images/dizajn.jpg" alt="working" class="card-img-top mr-auto">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate suscipit sed inventore
                                        corrupti alias neque ducimus officiis ipsum adipisci possimus necessitatibus nam
                                        commodi rerum expedita accusantium, deserunt hic nisi quidem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Projektovanje</h4>
                                <img src="../../assets/images/projektovanje.jpg" alt="a chalkboard" class="card-img-top">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum excepturi voluptas, quaerat
                                        quis dicta iusto. Culpa, quibusdam!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 offset-sm-10">
                <a [ngx-scroll-to]="'#nav-main'" class="btn btn-secondary" name="Top" >&uarr;</a>
        </div>
    </div>
</div>
<footer class="d-flex justify-content-center">
    <p>&copy; Denis Tadic 2018</p>
</footer>