<div class="container-fluid">
  <div class="container pt-2">
    <div class="row">
      <div class="col- col-sm-12 col-md-4">
        <img src="../../assets/images/profile.jpg" class="img-fluid img-thumbnai" alt="profile-foto" style="border-radius:50%">
      </div>
      <div class="col- col-sm-12 col-md-8 pt-5">
        <h4>Denis Tadić, diplomirani inženjer arhitekture</h4>
        <h5>Adresa: Semberska br 9, 21400 Bačka Palanka</h5>
        <h5>Br telefona: +381 64 1822534</h5>
        <h5>Email adresa: denis.tadic@gmail.com</h5>
        <p class="lead">
          Linkovi sajtova:
          <br>
          <a href="https://www.youtube.com/channel/UC-QjuvCTeZhy3QI7Ft65Ewg" target="_blank">Youtube</a>
          <br>
          <a href=" https://rs.linkedin.com/in/denistadic" target="_blank">Linkedin</a>
          <br>
          <a href="https://www.behance.net/denistadic" target="_blank">Behance</a>
          <br>
          <a href="https://www.facebook.com/denis.tadic" target="_blank">Facebook</a>
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col- col-sm-6">
        <div class="skillbar  " data-percent="100%">
          <div class="skillbar-title" style="background: #c71414;">
            <span>AutoCAD</span>
          </div>
          <div class="skillbar-bar" style="background: #df5959;"></div>
          <div class="skill-bar-percent">100%</div>
        </div>
        <div class="skillbar  " data-percent="95%">
          <div class="skillbar-title" style="background: #2980b9;">
            <span>ArchiCAD</span>
          </div>
          <div class="skillbar-bar" style="background: #3498db;"></div>
          <div class="skill-bar-percent">95%</div>
        </div>
        <div class="skillbar  " data-percent="90%">
          <div class="skillbar-title" style="background: #0f0646;">
            <span>Adobe Photoshop</span>
          </div>
          <div class="skillbar-bar" style="background: #6e51be;"></div>
          <div class="skill-bar-percent">90%</div>
        </div>
        <div class="skillbar  " data-percent="85%">
          <div class="skillbar-title" style="background: #c58206;">
            <span>Illustrator</span>
          </div>
          <div class="skillbar-bar" style="background: #d1a759;"></div>
          <div class="skill-bar-percent">85%</div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col- col-sm-12">
        <p>Arhitekta Denis Tadić rođen je 24. januara 1989. u Slavonskom Brodu. Detinjstvo proveo u Doboju. </p>
        <p>Osnovno i srednje obrazovanje završio je u Bačkoj Palanci - mašinski tehničar za kompjutersko konstruisanje. Diplomirao
          u Novom Sadu, na Fakultetu Tehničkih Nauka - smer arhitektura i urbanizam.</p>
        <p>Iskustva sticao u porodičnoj gradevinskoj firmi "Tadić M gradnja", kao i predhodno partnerskoj firmi za izvođenje
          građevinskih radova "LMC gradnja". Praksa i saranja sa arhitektama projektantima Strahinja Kojic – „Eko Inženjering“
          i Srđan Jorgic – “AS plan“, kao i saradnja sa arhitektom za dizajn enterijera i eksterijera Olgicom Popović.</p>
        <p>Softverske veštine: AutoCAD, ArchiCAD, SketchUp, Photoshop, Illustrator, InDesign, Word, Excel, PPoint, Lumion, Twinmotion,
          LumenRT, Premiere Pro, After Effects, Pinnacle Studio, AVS Video Editor i mnogi drugi... Trenutno zaposlen u Opštini
          Backa Palanka, sektor za gradevinarstvo i urbanizam.</p>
      </div>
    </div>
  </div>
</div>
<footer class="d-flex justify-content-center">
  <p>&copy; Denis Tadic 2018</p>
</footer>